body {
	padding: 0;
	margin: 0;
	background-color: #0f6674;
	}

.outercircle {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: transparent;
	border: 10px solid #aedecd;
	position: absolute;
	box-sizing: border-box;
	background-color: #c7e4d2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0px 8px 41px -3px rgba(0, 0, 0, 0.51);
}
.lines > li {
	list-style: none;
	height: 4px;
	background-color: transparent;
	width: 500px;
	position: absolute;
	left: -10px;
	top: calc(50% - 2px);
	padding: 2px 20px;
}
.lines > li:nth-child(1) {
	transform: rotate(0deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:nth-child(2) {
	transform: rotate(60deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:nth-child(3) {
	transform: rotate(-60deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:nth-child(4) {
	transform: rotate(120deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:nth-child(5) {
	transform: rotate(-120deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:nth-child(6) {
	transform: rotate(180deg);
	background-color: #313131;
	height: 7px;
}
.lines > li:before,
.lines > li:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 10px; /* width of the marks on circle border, starting from the outside of the circle */
	height: 100%;
	background: #2678ca; /* line marks color */
}
.lines > li:after {
	left: 0;
}

.menu-items {
	/* width: 80px; */
	margin-left: 40px;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	color: black;
	display: block;
	margin-top: 50px;
	transition: 0.7s;
}
/* inner circle */
.innercircle {
	background: #c4e2cf;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;

	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
	box-shadow: 0 0 0 7px rgba(49, 49, 49, 0.666),
		0 0 0 20px rgba(255, 255, 255, 0.776), 0px 0px 25px 20px rgba(0, 0, 0, 0.51);
}
.innercircle:hover {
	transform: scale(0.9);
	transition: all 0.5s ease-in-out;
}
.innercircle i {
	font-size: 40px;
	color: #000300;
	display: block;
	margin-top: 50px;
	transition: 0.7s;
}
.innercircle h1 {
	color: #000300;
}
/* icon position */
.menu-items.rotate1 {
	transform: rotate(0deg);
}
.innercircle:hover {
	transform: scale(0.9);
	transition: all 0.5s ease-in-out;
}

.menu-items.rotate2 {
	transform: rotate(300deg);
}
.menu-items.rotate3 {
	transform: rotate(60deg);
	margin-top: 55px;
	margin-left: 57px;
}
.menu-items.rotate4 {
    transform: rotate(238deg);
    /* margin-top: 55px; */
    /* margin-left: 57px; */
    /* margin-bottom: 33px; */
    /* margin-right: 10px; */
    margin: 65px 0px 0px 33px;
}
.menu-items.rotate5 {
	transform: rotate(120deg);
	margin-top: 60px;
	margin-left: 55px;
}
.menu-items.rotate6 {
	transform: rotate(180deg);
	margin-top: 70px;
}
/* curved text */
div#curved1 {
	font-size: 17px;
	font-weight: 500;
	
}
div#curved2 {
	font-size: 17px;
	font-weight: 500;
	
}
.anchor1 {
    color: #007bff;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 9em 2em 2em 3em;
    margin: -3em 2em 1em 1em;
    bottom: 3vh;
	text-decoration: none !important;	
}
.anchor2 {
    color: #007bff;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 8em 2em 2em 3em;
	margin: -4em 2em 1em 1em;
	bottom: 10px;
	text-decoration: none !important;
}

.anchor3 {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 8em 2em 2em 3em;
	margin: -4em 2em 1em 1em;
    left: 50px;
}
.anchor4 {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 8em 2em 2em 3em;
	margin: -4em 2em 1em 1em;
	right: 50px;
}

.anchor5 {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 7em 2em 3em 3em;
	margin: -3em 2em 1em 1em;
	left: 50px;
}
.anchor6 {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 7em 2em 3em 3em;
	margin: -3em 2em 1em 1em;
	right: 50px;
}
/* product texts */
.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
     position: relative;
    height: 1.80761em;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 60vh;
    margin: auto; 
}
.text1 > h6:nth-child(1) {
	margin-top: -200px;
	z-index: 1;
	/* margin-left: 10px; */
	margin-right: 205px;
}
.text1 > h6:nth-child(2) {
	margin-top: -200px;
	z-index: 1;
}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 0px;
    /* position: relative; */
    height: 1.80761em;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 80vh;
    margin: auto;
}
.text2 > h6:nth-child(1) {
	margin-top: -560px;
	z-index: 1;
	/* margin-left: 10px; */
	margin-right: 240px;
}
.text2 > h6:nth-child(2) {
	margin-top: -560px;
	z-index: 1;
}
a.anchor6:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
a.anchor5:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
a.anchor4:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
a.anchor3:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
a.anchor2:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
a.anchor1:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

@media screen and (max-height: 730px)   {
	.text1 {
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0px;
		/* position: relative; */
		height: 1.80761em;
		position: fixed;
		left: 0px;
		right: 0px;
		top: 63vh;
		margin: auto;
	}
	.text2 {
		display: flex;
		/* align-items: center; */
		justify-content: center;
		bottom: 0px;
		/* position: relative; */
		height: 1.80761em;
		position: fixed;
		left: 0px;
		right: 0px;
		top: 65vh;
		margin: auto;
	}
	#curved1 {
		bottom: 40vh !important;
  height: 1.80761em;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
	}
	#curved2{
		bottom: 0px;
	/* position: relative; */
	height: 1.80761em;
	position: fixed;
	left: 0px;
	right: 0px;
	top:62vh !important;
	margin: auto;
	}
}

    @media screen and (max-height: 685px)   {
		.text1 {
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 69vh;
			margin: auto;
		}
		.text2 {
			display: flex;
			/* align-items: center; */
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 70vh;
			margin: auto;
		}
		#curved1 {
			bottom: 42vh !important;
	  height: 1.80761em;
	  position: fixed;
	  left: 0px;
	  right: 0px;
	  top: 0px;
	  margin: auto;
		}
		#curved2{
			bottom: 0px;
		/* position: relative; */
		height: 1.80761em;
		position: fixed;
		left: 0px;
		right: 0px;
		top:64vh !important;
		margin: auto;
		}
	}
	@media screen and (max-height: 650px)   {
		.text1 {
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 74vh;
			margin: auto;
		}
		.text2 {
			display: flex;
			/* align-items: center; */
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 74vh;
			margin: auto;
		}
		#curved1 {
			bottom: 45vh !important;
	  height: 1.80761em;
	  position: fixed;
	  left: 0px;
	  right: 0px;
	  top: 0px;
	  margin: auto;
		}
		#curved2{
			bottom: 0px;
		/* position: relative; */
		height: 1.80761em;
		position: fixed;
		left: 0px;
		right: 0px;
		top:70vh !important;
		margin: auto;
		}
	}

	@media screen and (max-height: 610px)   {
		.text1 {
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 77vh;
			margin: auto;
		}
		.text2 {
			display: flex;
			/* align-items: center; */
			justify-content: center;
			bottom: 0px;
			/* position: relative; */
			height: 1.80761em;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 77vh;
			margin: auto;
		}
		#curved1 {
			bottom: 50vh !important;
	  height: 1.80761em;
	  position: fixed;
	  left: 0px;
	  right: 0px;
	  top: 0px;
	  margin: auto;
		}
		#curved2{
			bottom: 0px;
		/* position: relative; */
		height: 1.80761em;
		position: fixed;
		left: 0px;
		right: 0px;
		top:74vh !important;
		margin: auto;
		}
	}
